body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient( #3a5a40, #213139, #748d79);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-card {
  background-color: #3c5759;
  backdrop-filter: blur(15px);
  padding: 40px 30px;
  border-radius: 20px;
  width: 320px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #fff;
  position: relative;
    border:5px solid white;
}

.user-icon {
    position: absolute;
top: -20%;
left: 50%;
translate: -50%;
  background-color: #192524;
  border-radius: 50%;
  padding: 15px;
  width: 70px;
  height: 70px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-icon img {
  width: 40px;
}

.input-group {
  display: flex;
  align-items: center;
  background-color:#a9a9a9;
  margin: 15px 0;
  padding: 10px;
}

.input-group .icon {
  margin-right: 10px;
}

.input-group input {
  border: none;
  background: none;
  outline: none;
  color: #fff;
  width: 100%;
  font-size: 14px;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin: 10px 0 20px;
  color: #ddd;
}

.options a {
  color: #ccc;
  text-decoration: none;
}

.options input {
  margin-right: 5px;
}

.button {
    position: relative;
    height: 50px;
    width: 200px;
    background: linear-gradient(135deg, #192524, #3c5759, #d0d5ce, #d1ebdb, #959d90);
    background-size: 400%;
    font-size: 20pt;
    color: #ffffff;
    font-family: serif;
    border: 3px solid #3c5759;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.button::before {
    content: '';
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 15px;
    background: inherit;
    filter: blur(20px);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
}

.button:hover::before {
    opacity: 1;
}

.button:hover {
    animation: glow 5s linear infinite;
    z-index: 1;
    transform: scale(1.03);
}

@keyframes glow {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}
